<!DOCTYPE html>
<html lang="en">
<head>
 <meta http-equiv="refresh" content="59"/>
  <title>Read Mail Log</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
<br>
    <table class="table table-striped table-bordered">
    <thead>
      <tr>
          <th>Displaying Latest 40 Lines: <div class="btn-group">
      <a href="/maillog" class="btn btn-primary btn-xs" role="button">Refresh Log</a>
      <a href="/logout" class="btn btn-xs btn-danger" role="button">Logout</a>
      </div></th></tr>
    <tbody>
{% for log in output %}
    <tr><td>
    {{ log }}
    </td>
    </tr>
{% endfor %}
    </tbody>
    </table>
</div>
</body>
</html>
